{% extends 'base.html' %}

{% block title %}Details{% endblock %}

{% block content %}
<div class="row">

  <div class="col-sm-2 col-6"">
    <img src={{user.image_url}} class="img-fluid">
  </div>

  

  <div class="col-sm-10 col-12">
    <h1>{{user.get_full_name}}</h1>
    <form>    
      <button formaction="/users/{{ user.id }}/edit"
              formmethod="GET"
              class="btn btn-primary">Edit</button>

      <button formaction="/users/{{ user.id }}/delete"
              formmethod="POST"
              class="btn btn-danger">Delete</button>

      <button formmethod="GET"
            formaction="/users"
            class="btn btn-outline-primary">Cancel</button>
    </form>

    <h2 class="mt-4">Posts</h2>

    <ul>
      {% for post in posts %}
      <li>
        <a href="/posts/{{post.id}}">{{post.title}}</a>
      </li>
      {% endfor %}
    </ul>

    <a href="/users/{{user.id}}/posts/new"><button class="btn btn-primary">Add Post</button></a>
  </div>
  

</div>


{% endblock %}
